.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 30px 30px;

    & .professional-skills {

        & h3 {
            text-align: center;
        }

        & ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            padding: 0;
            font-weight: 200;
        }

        & ul img {
            width: 50px;
        }
    }

    & .personal-skills {

        & h3 {
            text-align: center;
        }

        & ul {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

        & ul li {
            margin: 0 20px;
            padding: 5px;
        }
    }
}